n8n/stale-task-reminder.json
{
  "name": "Barinhall — Stale Task Reminder",
  "nodes": [
    {
      "parameters": {
        "content": "## Stale Task Reminder\n\nRuns daily at 08:00. Fetches all engagements from Supabase, identifies Active engagements with no notes or output activity in 7+ days, and sends a Slack reminder.\n\n**Setup required:**\n1. Set `SUPABASE_URL` and `SUPABASE_ANON_KEY` as n8n environment variables (Settings → Variables).\n2. Configure Slack credentials on the Send Reminder node.\n3. Adjust `STALE_DAYS` in the Filter Stale Engagements code node if needed.\n\n**Payload schema:** See `docs/integrations/contracts/webhook-events.json` → `engagement.stale`\n**Sample:** `docs/integrations/sample-payloads/stale-task-reminder.json`",
        "height": 280,
        "width": 520,
        "color": 5
      },
      "id": "22222222-2222-2222-2222-222222222201",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "22222222-2222-2222-2222-222222222202",
      "name": "Schedule — Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 380]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/engagements?select=data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Accept",        "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222203",
      "name": "Fetch Engagements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 380]
    },
    {
      "parameters": {
        "jsCode": "const STALE_DAYS = 7;\nconst now = Date.now();\n\nfunction daysSince(iso) {\n  if (!iso) return Infinity;\n  return Math.floor((now - new Date(iso).getTime()) / 86400000);\n}\n\nfunction lastActivity(eng) {\n  const lastNote   = eng.notesLog?.slice(-1)[0]?.date;\n  const lastOutput = eng.outputs?.slice(-1)[0]?.generatedAt;\n  return [lastNote, lastOutput].filter(Boolean).sort().slice(-1)[0] ?? null;\n}\n\nconst rows = $input.all();\nconst engagements = rows.flatMap(r => Array.isArray(r.json) ? r.json.map(row => row.data) : [r.json?.data].filter(Boolean));\n\nconst reminders = engagements\n  .filter(eng => eng && eng.status === 'Active')\n  .filter(eng => daysSince(lastActivity(eng)) >= STALE_DAYS)\n  .map(eng => {\n    const last      = lastActivity(eng);\n    const days      = daysSince(last);\n    const incomplete = (eng.workflow ?? []).filter(s => !s.done).map(s => s.label);\n    const openRisks = (eng.risksLog ?? []).filter(r => r.status === 'Open');\n    return {\n      type:                        'stale-engagement',\n      engagementId:                eng.id,\n      clientName:                  eng.clientName,\n      company:                     eng.company,\n      serviceType:                 eng.serviceType,\n      owner:                       eng.owner,\n      daysSinceActivity:           days === Infinity ? null : days,\n      lastActivityDate:            last ?? null,\n      incompleteWorkflowStepCount: incomplete.length,\n      openRisksCount:              openRisks.length,\n      subject:                     `Reminder: ${eng.clientName} engagement needs attention`,\n      message:                     `${eng.clientName} (${eng.company}): no activity for ${days} days. ${incomplete.length} incomplete step(s), ${openRisks.length} open risk(s).`\n    };\n  });\n\nif (reminders.length === 0) return [{ json: { hasReminders: false, reminders: [] } }];\n\nreturn [{\n  json: {\n    hasReminders:  true,\n    count:         reminders.length,\n    reminders,\n    slackMessage:  `⚠️ *Barinhall stale engagement reminder*\\n` + reminders.map(r => `• ${r.message}`).join('\\n')\n  }\n}];"
      },
      "id": "22222222-2222-2222-2222-222222222204",
      "name": "Filter Stale Engagements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-reminders",
              "leftValue":  "={{ $json.hasReminders }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222205",
      "name": "Any Reminders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 380]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#barinhall-ops",
          "mode": "name"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {}
      },
      "id": "22222222-2222-2222-2222-222222222206",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1200, 280],
      "credentials": {
        "slackOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Slack — Barinhall"
        }
      }
    },
    {
      "parameters": {},
      "id": "22222222-2222-2222-2222-222222222207",
      "name": "No Reminders — Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1200, 480]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule — Daily 08:00": {
      "main": [
        [{ "node": "Fetch Engagements", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Engagements": {
      "main": [
        [{ "node": "Filter Stale Engagements", "type": "main", "index": 0 }]
      ]
    },
    "Filter Stale Engagements": {
      "main": [
        [{ "node": "Any Reminders?", "type": "main", "index": 0 }]
      ]
    },
    "Any Reminders?": {
      "main": [
        [{ "node": "Send Reminder",        "type": "main", "index": 0 }],
        [{ "node": "No Reminders — Skip",  "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "barinhall-phase5-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "barinhall-delivery-hub"
  },
  "id": "barinhall-stale-reminder-v1",
  "tags": [
    {
      "createdAt": "2026-05-02T00:00:00.000Z",
      "updatedAt": "2026-05-02T00:00:00.000Z",
      "id": "barinhall-1",
      "name": "barinhall"
    }
  ]
}
